/* Planeta: un círculo con color y sombra */
.planeta {
  width: 30px;              /* tamaño del planeta */
  height: 30px;
  background: radial-gradient(circle at 30% 30%, #4cafef, #001f3f);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

/* Animación: rota el planeta */
@keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* Contenedor de los planetas */
.contenedor-planetas {
  display: flex;           /* activa flexbox */
  flex-wrap: wrap;         /* permite que se acomoden en varias filas si no caben */
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente dentro del contenedor */
  gap: 10px;               /* espacio entre planetas (más pequeño que 20px) */
  height: 100vh;           /* ocupa toda la altura de la pantalla */
}


.planeta_sol {
  width: 100px;              /* tamaño del planeta */
  height: 100px;
  background: radial-gradient(circle at 30% 30%, #f3bb03, #cf1c04);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(223, 201, 5, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

.planeta_mercurio {
  width: 20px;              /* tamaño del planeta */
  height: 20px;
  background: radial-gradient(circle at 30% 30%, #7e7968, #b4908c);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(146, 144, 129, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

.planeta_venus {
  width: 60px;              /* tamaño del planeta */
  height: 60px;
  background: radial-gradient(circle at 30% 30%, #b18f20, #b4908c);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(189, 170, 25, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

.planeta_tierra {
  width: 65px;              /* tamaño del planeta */
  height: 65px;
  background: radial-gradient(circle at 30% 30%, #739ddb, #5e7ed6);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(6, 216, 34, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

.planeta_marte {
  width: 30px;              /* tamaño del planeta */
  height: 30px;
  background: radial-gradient(circle at 30% 30%, #e65806, #e60c0c);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(216, 92, 9, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

.planeta_jupiter {
  width: 60px;              /* tamaño del planeta */
  height: 60px;
  background: radial-gradient(circle at 30% 30%, #75482d, #d6b3b3);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(226, 140, 119, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

.planeta_saturno {
  width: 50px;              /* tamaño del planeta */
  height: 50px;
  background: radial-gradient(circle at 30% 30%, #e3e63e, #d6b3b3);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(151, 91, 76, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

.planeta_urano {
  width: 30px;              /* tamaño del planeta */
  height: 30px;
  background: radial-gradient(circle at 30% 30%, #1c71e0, #37be1c);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(26, 113, 163, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}

.planeta_neptuno {
  width: 40px;              /* tamaño del planeta */
  height: 40px;
  background: radial-gradient(circle at 30% 30%, #0f478f, #03167c);
  border-radius: 50%;        /* forma circular */
  box-shadow: 0 0 20px rgba(26, 113, 163, 0.7); /* brillo */
  margin: 50px auto;         /* centrado */
  animation: girar 10s linear infinite; /* animación de rotación */
}